div.col-md-2
	div.btn.btn-danger(ng-click="logout()")
		|Sign Out

	div.btn.btn-default(ng-click="verifyLogin()")
		|Verify Login

div.col-md-4.col-md-offset-2
	h1.page-header.text-center Sign In

	form(ng-submit="login()")
		div.form-group
			label(for="username") Username
			input.form-control(
				type="text",
				name="username",
				placeholder="Your Username", 
				ng-model="user.username")

		div.form-group
			label(for="password") Password
			input.form-control(
				type="password",
				name="password",
				placeholder="Your Password", 
				ng-model="user.password")

		div.form-group
			button.btn.btn-success.btn-lg.btn-block(type="submit") 
				|Sign In
